[Unit]
Description=Confirm the booted RAUC slot once local services are healthy
After=device-core.service nab-hardware.service nabos.service user@1000.service

[Service]
Type=exec
ExecStart=/usr/lib/nabos/health

[Install]
WantedBy=multi-user.target
