[Unit]
Description=Confirm the booted RAUC slot once local services are healthy
After=mosquitto.service device-core.service nab-core.service nab-service.service user@1000.service

[Service]
Type=exec
ExecStart=/usr/lib/nabos/health

[Install]
WantedBy=multi-user.target
